<div class="footer">
    <div class="footerTitle">
        <h3><b>Marriage & Family Therapy Office</b></h3>
    </div>
    <div class="addressTitle">

        <h4>Brigham Young University</h4>

    </div>

    <div class="footerAddress">
        <p>234 Taylor Building</p>
        <p> Provo, UT </p>
    </div>

    <br />

    <div class="footerContact">
        <p>Office: 801-422-5680</p>
        <p>Fax: 801-422-0163</p>
    </div>

</div>