.PRNheader {
    padding: 25px;
    text-align: center;
    background: white;
    font-size: 30px;
}

.customDropdown {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    display: none;
    float: left;
    font-size: 14px;
    color: black;
    list-style: none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 15px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    transform: translate3d(990px, 5px, 0px);
    will-change: transform;
    z-index: 100;
}

.customNav {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 800;
    color: #005b7b !important;
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 0px;
    border-color: #e4e4e8;
    padding-left: 0;
    margin-bottom: 0;
}

.headerTitle {
    color: #005b7b;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
}

.headerSubTitle {
    color: #d1d5da;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #005b7b;
}

.loginMenu {
    display: flex;
    justify-content: flex-end;

    text-align: right;
    font-size: 18px;
    margin-right: 12%;
    margin-top: -10px;
}

.menuItem {
    padding-left: 20px;
}

.headerImage {
    padding: 0;
    margin: 0;
}


.fullSceBox {
    width: 100%;
    padding: 0;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #005b7b;
    background-color: #d1d5da;
    text-align: center;
    line-height: 5px;
    padding: 0 0 20px 0px;
}

.footerContact {
    padding: 10px;
}